/.ignore
/Makefile
/LeoRoverUE5.code-workspace
/LeoRoverUE5.sln
/core

Config/HoloLens/

Content/StarterContent/ 
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/LevelPrototyping/
Content/MSPresets/
Content/Megascans/

Binaries/
DerivedDataCache/
Intermediate/
Saved/
Plugins/
.vscode/
.vs/
